md-toolbar(color="primary")
  h1 {{title}}
nav
  a(routerLink="/dashboard", routerLinkActive="active", md-raised-button='', color='primary') Dashboard
  a(routerLink="/heroes", routerLinkActive="active", md-raised-button='', color='primary') Heroes
router-outlet